.sidebar {
    width: 230px;
    height: 100vh;
    background: #1e1e2f;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 15px;
    box-sizing: border-box;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
}

.menu-item {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    margin-bottom: 6px;
}

    .menu-item:hover {
        background: #353547;
    }

    .menu-item.active {
        background: #4c4cff;
    }
