.home-container {
  padding: 20px;
}

.stats-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.stat-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: 0.2s;
  cursor: pointer;
}

.stat-card:hover {
  transform: translateY(-3px);
}

.stat-card h2 {
  font-size: 32px;
  margin: 0;
  color: #4c4cff;
}

.stat-card span {
  font-size: 16px;
  color: #555;
}
